@model WebApp.ViewModels.MongoDBViewModels
@{
    ViewBag.Title = "MakeData";
}

<h2>MakeData end, made this data</h2>
<ul>
    <li>Id корневого проекта:@Model.IdRoot1</li>
    <!--<li>Id второго корневого проекта:@Model.IdRoot2</li>-->
</ul>

